# -*- vim: ft=yaml:sw=2 -*-
name: Test

on:
  - push
  - pull_request
  - workflow_dispatch

env:
  PY_COLORS: "1"
  FORCE_COLOR: true

jobs:
  Test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - python: '3.10'
            env: py3-salt3007-crypt-acme-dns
            pebble: latest
          - python: '3.10'
            env: py3-salt3006-crypt-acme-dns
            pebble: latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: True
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - run: docker compose --file test/docker-compose.yml up --detach
        env:
          PEBBLE_VERSION: ${{ matrix.pebble }}

      - run: uv sync --dev
      - run: uv run tox -e ${{ matrix.env }} -- -vv

  ruff-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: True
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: uv sync --dev
      - run: uv run ruff check --no-fix --diff

  ruff-format:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: True
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: uv sync --dev
      - run: uv run ruff format --diff --check
